<div class="contents row">
  <div class="container">
    <%= form_with(model: @tweet, local: true, class: 'newForm') do |form| %>
      <h3 class="postTitle">Create your post</h3>
       <%= render partial: "form", locals: { form: form } %>
    <% end %>
  </div>
</div>