<div class="contents row">
  <p><%= @nickname %>'s post</p>
  <% @tweets.each do |tweet| %>
    <div class="contents__post" style="background-image: url(<%= tweet.image %>);background-repeat: no-repeat;width:100%;background-size: cover;">
      <div class="contents__post__textAndName">
        <p class="contents__post__textAndName__text"><%= simple_format(tweet.text) %></p>
      </div>
    </div>
  <% end %>
</div>