body{
  font-family: 'PT Sans', sans-serif;
}
@mixin width {
  width: 750px;
  margin: 0 auto;
}
@mixin btn{
  background-color:#404040;
  color:white;
  padding: 4px;
  &:hover{
  background-color:#996600;
}
}

.header{
    @include width;
    height: 60px;
    position:relative;
     .postBtn{
      position:fixed;
      bottom: 58px;
      right: 235px;
      z-index:1;
      a{
        color: #fff;
        background-color:skyblue;
        padding: 0;
        margin: 0;
        width: 70px;
        height: 70px;
        line-height: 70px;
        text-align: center;
        display: inline-block;
        border-radius: 50%;
      }
      .fas{
        color:white;
      }
    }
    a{
      text-decoration: none;
      color:black;
    }
    h1{
      font-family: 'PT Sans', sans-serif;
      font-weight:bold;
      font-size: 23px;
      text-align: center;
      padding-top: 10px;
    }
    .user_nav{
      font-weight: bold;
      font-size: 17px;
      width:110px;
       i.fas{
         color:black;
         margin-left: 10px;
       }
        p.nickname{
          display: block;
          width: 100px;
          text-align: center;
        }
        ul.user__info{
          display:none;
          z-index: 10;
          position:relative;
          width: 100px;
          li{
            a{
              display:block;
              text-align: center;
              margin-bottom: 1px;
            }
          }
        }
      a{
        @include btn;
      }

    }
  .logOut-info{
    display:flex;
    a.register{
    
     margin-left:5px;
    }
    a.login{
      
    }
  }
}

.contents{
  @include width;
  z-index: -1;
  margin-top: 10px;
  &__post{
    height:420px;
    position:relative;
    margin-bottom: 20px;
    .more{
      position: absolute;
      top: 10px;
      right: 9px;
      width: 81px;
      text-align: center;
      p.arrow{
        text-align:center;
        img{
          color:black;
        }
      }
      ul{
        padding: 2px;
        display:none;
        text-align: center;
        width: 80px;
        border-radius: 5px;
        background-color:rgb(212, 209, 209);
        box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
        li{
          margin-bottom: 6px;
          a{
            text-decoration:none;
            color:black;
          }
          a:hover{
            color:skyblue;
          }
        }
      }
    }
    &__textAndName{
      position:absolute;
      bottom:10px;
      left:10px;
      
    }
      
  }
}

@mixin form-size {
  width: 100%; 
  padding: 10px 15px; 
  font-size: 16px;
  border-radius: 3px; 
  border: 2px solid #ddd;
  box-sizing: border-box; 
}
.newForm input{
  display: block;
  @include form-size;
}
textarea.newTextarea{
  @include form-size;
}
h3.postTitle{
  text-align:center;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 20px;
}
.sendBtn{
  background-color: skyblue;
}

.success{
  @include width;
  margin-top: 50px;
  margin-bottom: 100px;
  h3{
    text-align:center;
    font-weight:bold;
    font-size: 20px;
  }
  a.btn{
    display:block;
    margin:0 auto;
    text-decoration:none;
    color:black;
    text-align: center;
    display: block;
    margin-top: 40px;
  }
  a.btn:hover{
    color:skyblue;
  }
}

footer{
  @include width;
  margin-top: 20px;
  p{
    text-align:center;
  }
}