body{
  font-family: 'PT Sans', sans-serif;
}
@mixin width {
  width: 750px;
  margin: 0 auto;
}
@mixin btn{
  background-color:#404040;
  color:white;
  padding: 4px;
  &:hover{
  background-color:#996600;
}
}
span.picture>input{
  // display:none;
}

.user{
  width:156px;
  margin:0 auto;
  h2{
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 20px;
    color: blue;
  }
  input{
    margin-bottom:3px;
  }
  input#user_nickname{
    width:166px;
  }
}

.search-form{
  @include width;
  text-align:center;
  input.search-input{
    width:40%;
    height:30px;
    border:1px solid #707070;
  }
  .search-btn{
    background-color: rgba(245, 169, 7, 0.87);
    width: 50px;
    height: 33px;
    font-size: 15px;
    color:rgb(43, 41, 41);
  }
}
.header{
    height: 60px;
    position:relative;
    border-bottom: 1px solid #909090;
    margin-bottom: 20px;
     .postBtn{
      position:fixed;
      bottom: 58px;
      right: 235px;
      z-index:1;
      a{
        color: #fff;
        background-color:#cc9966;
        padding: 0;
        margin: 0;
        width: 70px;
        height: 70px;
        line-height: 70px;
        text-align: center;
        display: inline-block;
        border-radius: 50%;
      }
      .fas{
        color:white;
      }
    }
    a{
      text-decoration: none;
      color:black;
    }
    h1{
      font-family: 'PT Sans', sans-serif;
      font-weight:bold;
      font-size: 23px;
      text-align: center;
      padding-top: 10px;
      a:hover{
          color: #31A9EE;
      }
    }
    .user-nav-wrapper{
      @include width;
      .user_nav{
        font-weight: bold;
        font-size: 17px;
        width:110px;
         i.fas{
           color:black;
           margin-left: 10px;
         }
          p.nickname{
            display: block;
            width: 100px;
            text-align: center;
          }
          ul.user__info{
            display:none;
            z-index: 10;
            position:relative;
            width: 100px;
            li{
              a{
                display:block;
                text-align: center;
                margin-bottom: 1px;
              }
            }
          }
        a{
          @include btn;
        }
  
      }
    }
  .logOut-info{
    display:flex;
    width:750px;
    margin:0 auto;
    a.register{
    
     margin-left:5px;
    }
    a.login{
      
    }
  }
}

.contents{
  @include width;
  z-index: -1;
  margin-top: 10px;
  &__post{
    height:420px;
    position:relative;
    margin-bottom: 20px;
    .more{
      position: absolute;
      top: 10px;
      right: 9px;
      width: 81px;
      text-align: center;
      p.arrow{
        text-align:center;
        img{
          color:black;
        }
      }
      ul{
        padding: 2px;
        display:none;
        text-align: center;
        width: 80px;
        background-color:rgb(212, 209, 209);
        box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
        li{
          line-height: 1.5rem;
          border-bottom: 1px solid rgb(236, 143, 143);
          a{
            text-decoration:none;
            color:black;
          }
          a:hover{
            color:white;
          }
        }
      }
    }
    &__textAndName{
      position:absolute;
      bottom:10px;
      left:10px;
      a{
        text-decoration: none;
        color:black;
        &:hover{
          color:blue;
        }
      }

    }
      
  }
}

@mixin form-size {
  width: 100%; 
  padding: 10px 15px; 
  font-size: 16px;
  border-radius: 3px; 
  border: 2px solid #ddd;
  box-sizing: border-box; 
}
.newForm input{
  display: block;
  @include form-size;
}
textarea.newTextarea{
  @include form-size;
}
h3.postTitle{
  text-align:center;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 20px;
}
.sendBtn{
  background-color: skyblue;
}

.success{
  @include width;
  margin-top: 50px;
  margin-bottom: 100px;
  h3{
    text-align:center;
    font-weight:bold;
    font-size: 20px;
  }
  a.btn{
    display:block;
    margin:0 auto;
    text-decoration:none;
    color:black;
    text-align: center;
    display: block;
    margin-top: 40px;
  }
  a.btn:hover{
    color:skyblue;
  }
}
.container{
  p.comment-restriction{
    color:red;
    text-align:center;
  }
  textarea.comments{
    display: block;
    @include form-size;
  }
  input.comments-send{
    @include form-size;
    background-color:#e6e6e6;
    margin-top:3px;
    &:hover{
      background-color: #8c8c8c;
      color:white;
    }
  }
}

footer{
  @include width;
  margin-top: 20px;
  p{
    text-align:center;
  }
}